{% extends 'base.html' %}

{% block content %}
<div class = "jumbotron">
	<h2>Please Login :</h2>
	** Contact site owner to create an account
	<br><br>

	{% if form.errors %}
	<div class="alert alert-danger">
		Your username and password didn't match! Please try again.
	</div>
	{% endif %}
	<form action="{% url 'BlogApp:login' %}" method="POST" >
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Login" class="btn btn-primary">
		<input type="hidden" name="next" value="{{ next }}">
	</form>
	<script>
		$(document).ready(function(){
			$(".errorlist").hide();
		});
	</script>
</div>
{% endblock %}
