{% extends 'base.html' %}

	{% block content %}
	<br>
	<div class = "container article-main">
		<br>
		<h1 class="article-title hue">{{ object.title }}</h1>
		<div class="date article-date">
		{% if object.published_date %}
			{{ object.published_date }}
		{% else %}
			{{ object.create_date }}
		{% endif %}
		</div>
		<br>
		<div class="article-content">
		<p>{{ object.text|safe|linebreaksbr }}</p>
		<p class="article-date"><em>Written By : {{ object.author }}</em></p>
		</div>
		<br>
	</div>
		<br>
	{% if not object.published_date %}
		{% if user == object.author %}
		<a class="btn btn-success" href="{% url 'BlogApp:Article-Publish' pk=object.pk %}">Publish</a>
		{% endif %}
	{% endif %}
	{% if user == object.author %}
	<a class="btn btn-primary" href="{% url 'BlogApp:Article-Update' pk=object.pk %}"><img src="/static/icons/pencil.svg" alt="" class="side-icon"> Edit</a>
	<a class="btn btn-danger" href="{% url 'BlogApp:Article-Delete' pk=object.pk %}"><img src="/static/icons/x.svg" alt="" class="side-icon"> Delete</a>
	{% endif %}
	<br><br>
	<a class="btn btn-primary" href="{% url 'BlogApp:Comment-Add' pk=object.pk %}"><img src="/static/icons/comment.svg" alt="" class="side-icon"> Comment</a>
	<br><hr><br>
	<!-- Comments -->
	<h3><strong> Comments </strong></h3><br>
	<div class="container comments-section">
		{% for comment in object.comments.all %}
		<div class="comment-box">
		{% if user == object.author or comment.approved_comment %}
			{{ comment.create_date }}
			<p><strong>{{ comment.author }}</strong> commented</p>
			<p>{{ comment.text|safe|linebreaksbr }}</p>
			{% if not comment.approved_comment %}
			<div class="buttons">
				<a class="btn btn-success" href="{% url 'BlogApp:Comment-Approve' pk=comment.pk %}"><img src="/static/icons/pencil.svg" alt="" class="side-icon"> Approve</a>
				<a class="btn btn-danger" href="{% url 'BlogApp:Comment-Remove' pk=comment.pk %}"><img src="/static/icons/x.svg" alt="" class="side-icon"> Remove</a>
			</div>
			{% endif %}
			<hr>
		{% endif %}
		{% empty %}
		<h5>No Comments Yet</h5>
		</div>
		{% endfor %}
	</div>
	{% endblock %}
