.techfont{
	font-family : 'Russo One', sans-serif;
	font-size : 1.5em;
	margin-bottom : 10px;
}

.bigbrand{
	font-size : 1.5em;
}

.side-icon{
	height : 1.2em;
	width : 1.2em;
}

.centerstage{
	margin : auto;
}

.article-title{
	font-family : 'Russo One', sans-serif;
	text-align : center;
	font-size : 3em;
}

.article-date{
	text-align : right;
}

.article-main{
	border : 2px solid grey;
	border-radius : 4px;
}

.article-content{
	font-family : 'Montserrat';
	font-size : 1.5em;
}

.comment-box .buttons{
	align : right;
}
.article-textarea{
	background : #f8f9fa;
	border-radius : 5px;
	padding : 5px;
}
