.techfont{
	font-family : 'Russo One', sans-serif;
	font-size : 1.5em;
	margin-bottom : 10px;
}

.bigbrand{
	font-size : 1.5em;
}

.side-icon{
	height : 1.2em;
	width : 1.2em;
}

.centerstage{
	margin : auto;
}
